*{
	font-family: sans-serif;
	margin: 0;
}
body{
	position: relative;
}
.container{
	width: 500px;
	height: 100vh;
	margin: 0 auto;
	background: #6F320D;
	position: relative;
	overflow: hidden;
}
.title {
    position: absolute;
    top: 10px;
    left: calc(50% - 99px);
}
.bg{
	background: url('../images/main-bg.jpg') no-repeat;
	height: 317px;
	width: 1020px;
	position:absolute;
}
.ground{
	background: url('../images/ground.jpg') no-repeat;
	height: 100px;
	width: 1530px;
	top: 317px;
	position: absolute;
	animation: moveBG 8s infinite linear;
}
.dario{
	background: url('../images/dario.png') no-repeat;
	position: absolute;
	height: 114px;
	width: 80px;
	top: 219px;
	left: calc(50% - 40px);
	animation: walk .4s steps(10, end) infinite;
	transition: opacity 1s, top .8s;
}
.small{
	height: calc(114px / 1.5);
    width: calc(80px / 1.5);
    background-size: cover;
    animation: smallWalk .4s steps(10, end) infinite;
    top: 257px;
}
.fade{
	opacity: 0
}
.tap{
	background-color: #F79229;
    color: #6F320D;
    position: absolute;
    bottom: 5%;
    border: none;
    border-radius: 5px;
    left: calc(50% - 85px);
    padding: 5px 15px;
    cursor: pointer
}
.up{
	top: 137px;
}
.small.up{
	top: 169px;
}
.span{
	font-size: 21px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 7px;
}
.arrow{
	height: 40px;
	display: inline-block;
	margin-bottom: -12px;
}

.display-none{
	display: none
}

/*stuff that should appear only if game is on*/
.game-on .bullet{
	background: url('../images/bullet.png') no-repeat;
	top: 257px;
	position: absolute;
	height: 55px;
	width: 55px;
	left: calc(100% - 55px);
	animation: moveBullet 3s infinite linear;
}



/*game is frozen (Dario died) */
.freeze .ground,
.freeze .bullet{
	animation-play-state: paused
}


/* animations*/
@-webkit-keyframes walk {
    to { 
        background-position: -818px;
    }
}
@-webkit-keyframes smallWalk {
    to { 
        background-position: -545px;
    }
}
@-webkit-keyframes moveBG {
	to {
		background-position: -830px; 
	}
}
@-webkit-keyframes moveBullet {
	to {
		left: 0px; 
	}
}

/*media queries*/

/*for phones with average or big screens*/
@media screen and (max-width: 850px){
	.container{
		width: 100%;
	}

	.ground{/*kinda high so we can see the action button*/
		top: 317px;
	}
	.bg{
		height: 450px;
	}
	.game-on .bg{
		height: 498px;
	}
	.dario{
		top: 225px;
	}
	.up{
		top: 145px;
	}
	.dario.small{
		top: 255px;
	}
	.dario.small.up{
		top: 205px;
	}
	.game-on .bullet{/*original animation would be too slow in a small screen*/
		top: 275px;
		left: 120%;
		animation: moveBullet 2s infinite linear;
	}
	.freeze .bullet{/*avoids overwriting by rule above*/
		animation-play-state: paused 
	}
	.tap{
		bottom: 18%;
	}
}

/*for phones with small screens*/
@media screen and (max-width: 550px) and (max-height: 550px){
	.container{
		width: 100%;
	}
	.title{
		width: 100px;
		left: calc(50% - 54px);
	}
	.ground{/*kinda high so we can see the action button*/
		top: 150px;
	}
	.game-on .ground{/*now there's no button, we can use the screen better*/
    	top: 200px;
	}
	.bg{
		height: 150px;
	}
	.game-on .bg{
		height: 198px;
	}
	.dario{
		top: 55px;
	}
	.game-on .dario{
		top: 105px;
	}
	.game-on .up{
		top: 20px;
	}
	.game-on .dario.small{
		top: 141px;
	}
	.game-on .dario.small.up{
		top: 61px;
	}
	.game-on .bullet{/*original animation would be too slow in a small screen*/
		top: 147px;
		left: 120%;
		animation: moveBullet 2s infinite linear;
	}
	.freeze .bullet{/*avoids overwriting by rule above*/
		animation-play-state: paused 
	}
	.tap{
		bottom: 10%;
	}
}