*{
	font-family: sans-serif;
	margin: 0;
}
body{
	position: relative;
}
.container{
	width: 500px;
	height: 100vh;
	margin: 0 auto;
	border: 2px solid red;
	background: #6F320D;
	position: relative;
	overflow: hidden;
}
.bg{
	background: url('../images/main-bg.jpg') no-repeat;
	height: 317px;
	width: 1020px;
	border: 2px solid green;
	position:absolute;
}
.ground{
	background: url('../images/ground.jpg') no-repeat;
	height: 100px;
	width: 1020px;
	top: 317px;
	border: 2px solid brown;
	position: absolute;
	animation: moveBG 8s infinite linear;
}
.dario{
	background: url('../images/dario.png') no-repeat;
	position: absolute;
	height: 114px;
	width: 80px;
	top: 219px;
	left: calc(50% - 40px);
	animation: walk .4s steps(10, end) infinite;
}
.tap{
	background-color: #F79229;
    color: #6F320D;
    position: absolute;
    bottom: 5%;
    border: none;
    border-radius: 5px;
    left: calc(50% - 85px);
    padding: 5px 15px;
    cursor: pointer
}
span{
	font-size: 21px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 7px;
}
img{
	height: 40px;
	display: inline-block;
	margin-bottom: -12px;
}
@-webkit-keyframes walk {
    to { 
        background-position: -818px;
    }
}
@-webkit-keyframes moveBG {
	to {
		background-position: -1020px; 
	}
}
